body {
	
	color:white;
	font-family: 'Roboto Slab', serif;
}
.content {
	width:100%;
	max-width:620px;
	margin-left:auto;
	margin-right:auto;
}
.info {
	width: 100%;
	background-color:#3c3c58;
	padding: 1;
}
p.artist {
    padding: 5;
}
.tracks {
	background-color:rgb(86, 86, 132);
}