@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
	background-color: #24273A;
	color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

#wrapper {
    width: 100%;
    height: 100vh;
}

.content {
	width: 100%;
	text-align: center;
	font-size: xx-large;
	z-index: 5;
}

.contentCircle {
	position: absolute;
	
	align-items: center;
    display: flex;
  	justify-content: center;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	background-color: white;
	width: 500px;
	height: 500px;
	border-radius: 360px;
}

.content h1 {
	font-family: 'Roboto Slab', serif;
	font-weight: 100;
	margin-top: -61px;
}

.content button {
	margin-bottom: 0px;
}

.sub {
	color: rgba(0, 0, 0, 0.7);
	margin-top: -65px;
	font-weight: 100;
}

.bubble {
	background-color: white;
	border-radius: 180px;
	position: absolute;
}

#slideWrapper1 {
	border-bottom-width: calc(50vw - 40px);
	border-top-width: 0px;
	border-left: calc(200vh + 40px) solid transparent;
	overflow: hidden;
}

#slideWrapper2 {
	top: 100px;
	left: 100px;
	border-top-width: calc(50vw - 40px);
	border-bottom-width: 0px;
	border-right: calc(200vh + 40px) solid transparent;
	overflow: hidden;
}

#slideWrapper2 .insideWrapper {
	position: absolute;
	top: -100vh;
	left: calc(50vw - 10px);
	z-index: 100;
}

.slideWrapper {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;

	background-color: transparent;
	border: 0 solid transparent;
}

.insideWrapper {
	z-index: 10;
	position: absolute;
	
	width: 100%;
	height: 100vh;
	left: calc(-50vw + 7px);
}

.b1 {
	top: 4.8vh;
	left: 26%;
	width: 7.8%;
	height: 7.8vw;
}

.b2 {
	top: 38.5vh;
	left: 80.7%;
	width: 15.6%;
	height: 15.6vw;
}

.b3 {
	top: 52.9vh;
	left: 10.4%;
	width: 13%;
	height: 13vw;
}

.b4 {
	top: 4.8vh;
	left: 70.3%;
	width: 11.7%;
	height: 11.7vw;
}

.b5 {
	top: 72.2vh;
	left: 67.7%;
	width: 5.2%;
	height: 5.2vw;
}

.b6 {
	top: 9.6vh;
	left: 5.2%;
	width: 5.2%;
	height: 5.2vw;
}

@media screen and (max-width: 1130px) {
	.b3 {
		left: calc(10.4% - 50px);
	}

    .b5 {
    	top: calc(72.2vh + 30px);
    	left: calc(67.7% + 75px);
    }
}