@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
	background-color: #24273A;
	color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.albumtitle {
    background-color: #545b86;
    color: white;
}