@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

#navigationBar {
	width: 100%;
	height: 53px;
	background-color: white;
}
.albumtitle {
    background-color: #545b86;
    color: white;
}

#navbarButtons {
	float: right;
	margin-right: 0px;
	margin-top: 7px;
}

#navbarButtons li {
	list-style: none;
	float: left;
	margin-left: 15px;
	transition: 0.4s all ease;

	padding: 5px 10px 5px 10px;
	border-radius: 5px;
}

#navbarButtons li a {
	color: black;
	text-decoration: none;
	outline: 0;
}

#navbarItemBorder {
	width: 100%;
	height: 2px;
	background-color: black;

	margin-left: 50%;
	transform: translateX(-50%);

	opacity: 0;
	transition: all 1s ease;
}

#sideBar {
	width: 250px;
	height: calc(100vh - 73px);

	top: 53px;
	margin-top: 10px;

	background-color: white;
	position: absolute;
}

#tilesBody {
	background-color: white;

	width: calc(100% - 250px - 10px);
	height: calc(100vh - 73px);

	top: 53px;
	left: 250px;
	margin: 10px;
	position: absolute;
}

#navbarMiddle {
	width: calc(100% - 110px - 240px);
	height: 53px;
	margin-left: 110px;
	position: absolute;
}

#searchbar {
	width: 75%;
	margin-top: 11px;

	margin-left: 50%;
	transform: translateX(-50%);
}

#navbarTitle {
	transform: translateY(25px);
	position: absolute;
}

.textbox {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	height: 30px;
	font-size: 16px;

	padding-left: 15px;

	border: 1px solid rgba(0, 0, 0, 0.25);
	background-color: white;
	border-radius: 0;

	transition: .7s all ease;
}

.textbox:hover {
	border-color: #2980B9;
}